*{
  margin: 0;
}

.cookie{
  height: 300px;
  width: 300px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.munch{
  height: 33.33%;
  width: 100%;
  background-color: magenta;
}